<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd HH:mm:ss, SSS\} %-5p %c. %M:%L - %m%n"/>
		</layout>
		
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="DEBUG" />
			<param name="levelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	
	<appender name="FILEOUT" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="G:/Log/output.log" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<param name="FilePattern" value="G:/log/$${date:yyyy-MM/app-%d{yyyy-MM-dd-HH}-%i.log.gz"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%c:%L) - %m%n" />
		</layout>
		<policy>
			<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
		</policy>
	</appender>
	
	<!-- specify the logging level for loggers from other libraries -->
	<logger name="com.opensymphony">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.apache.struts2">
		<level value="DEBUG" />
	</logger>
	
	<!-- for all other loggers log only info and above log messages -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT" />
	</root>
</log4j:configuration> 